* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container {
  display: flex;
  gap: 20px;
  width: 100vw;
  height: 70vh;
  /* flex-direction: column; */
}
.CardMedias {
  height: 410px;
  display: flex;
  margin: 20px auto;
  margin-left: 20px;
  border-radius: 50px 50px;
  border: 1px solid sandybrown;
}

.textContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(142, 69, 201, 0.733);
  margin-right: 120px;
  border-radius: 35px;
  width: 35rem;
  margin-top: 20px;
  border: 1px solid sandybrown;
}

h2 {
  font-size: 2rem;
  margin: auto auto;
}
