.containerNavbar {
  background-color: rgba(144, 0, 211, 0.637);
  display: flex;
  font-size: 1.2rem;
  min-width: 100vw;
}
#logo {
  width: 10rem;
  /* margin-left: -30rem; */
}
ul {
  display: flex;
  align-items: center;
  /* justify-content: end; */
  /* margin-left: -10rem; */
  gap: 10rem;
}
.link {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  /* justify-content: end; */
}
.link:hover {
  color: rgb(224, 121, 255);
  transition: 0.3s;
}
@media (max-width: 640px) {
}
