.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 100vw;
  min-height: 100vh;
  /* max-width: 2rem; */
}
.Card {
  /* max-height: 25rem; */
  margin: 1rem;
  max-width: 18rem;
  width: 100vw;
}
.CardMedia {
  margin: auto auto;
}
